/setting/config.ini
/setting/password/TelegramMaster-PRO/password.txt
/setting/password/TelegramMaster_Commentator/password.txt
/.venv/
/.env
/setting/user_data.db
/.idea/
/.gigaide/
/logs/
/setting/password/
/logs/log_ERROR.log
