aiogram~=3.26.0
yookassa~=3.10.0
loguru~=0.7.3
environs~=14.6.0
aiohttp~=3.13.4
configparser~=7.2.0
python-dotenv~=1.2.2
groq~=1.1.2
peewee~=4.0.3
logging~=0.4.9.6
dotenv~=0.9.9
# Localization
fluent-runtime~=0.3.2